<!DOCTYPE html>
<html lang="en">
<head>
  <title>YelpCamp - Register</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body class="img js-fullheight text-center text-white bg-dark" style="
      background-image: url('https://images.unsplash.com/photo-1535576434247-e0f50b766399');
    ">
      <header class="mb-auto">
        <div>
          <h2 class="float-md-start mb-0 heading-section">YelpCamp</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href="/"> Home</a>
            <a href="/campgrounds" class="nav-link">Campgrounds</a>
            <a href="/login" aria-current="page" class="nav-link">Login</a>
            <a href="#" class="nav-link">Register</a>
          </nav>
    </header>
  </div>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Register for YelpCamp</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <form action="/register" method="POST" class="validated-form" novalidate">
              <div class="form-group">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus
                  required />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required />
                <div class="valid-feedback">Looks good!</div>
              <div class="form-group">
                <input id="password" name="password" type="password" class="form-control" placeholder="Password"
                  required />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="form-group">
                <button class="form-control btn btn-primary submit px-3">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="mt-auto text-white-50">
    <p>&copy 2021 YelpCamp</p>
  </footer>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>